{% extends 'base.html' %}

{% block title %}Búsqueda de portafolios{% endblock title %}

{% block content %}
  {% if query %}
    <h1>Resultados que contienen "{{ query }}"</h1>
    {% for portfolio in results %}
      <h4>
        Persona X
      </h4>
      <p>{{ portfolio.get_field_of_work_display }}</p>
      <p>{{ portfolio.work_experience|linebreaksbr }}</p>
      <p>{{ portfolio.projects|linebreaksbr }}</p>
    {% empty %}
      <p>No hay resultados para su búsqueda.</p>
    {% endfor %}
  {% else %}
    <h1>Buscar portafolios</h1>
    <form method="get">
      {{ form.as_p }}
      <input type="submit" value="Buscar">
    </form>
  {% endif %}
{% endblock content %}
